* {
  font-family: 'RIDIBatang';
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
}

.main-card button {
  width: 30px;
  height: 20px;
  position: relative;
  left: -45px;
  bottom: 15px;
  border-radius: 10%;
  border-style: none;
  background-color: #000000;
}

@media (max-width: 430px) {

  /* 430 = 이미지 크기 + 버튼 크기 */
  .main-card button {
    width: 30px;
    height: 20px;
    position: relative;
    left: 41.5%;
    bottom: 35px;
    border-radius: 10%;
    border-style: none;
    background-color: #000000;
  }
}

.favorites {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

#disqus_thread {
  margin-top: 100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  #disqus_thread {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

h1 {
  font-family: 'RIDIBatang';
  letter-spacing: 5px;
  color: rgb(70, 70, 70);
  margin: 50px 0 50px 0;
}

form button {
  width: 4em;
  height: 3em;
  margin-left: 5px;
  border: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: 10%;
}

form button:hover {
  color: red;
}

form button:active {
  top: 4px;
  position: relative;
}

form input {
  width: 16em;
  height: 3em;
  border-radius: 10%;
}

.main-card img {
  width: 400px;
}

@media (max-width: 400px) {
  .main-card img {
    width: 100%;
  }
}