/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  font-family: 'MonoplexKR-Regular';
}

@font-face {
  font-family: 'MonoplexKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  text-align: center;
}

.main-card button {
  position: relative;
  left: -45px;
  bottom: 15px;
}

.favorites {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

#disqus_thread {
  margin-top: 100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'ONE-Mobile-POP';
  letter-spacing: 5px;
  color: rgb(70, 70, 70);
  margin: 50px 0 50px 0;
}

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

form>button {
  width: 4em;
  height: 3em;
  margin-left: 5px;
  border: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: 10%;
}

form>button:hover {
  color: red;
}

form>button:active {
  top: 4px;
  position: relative;
}

form>input {
  width: 16em;
  height: 3em;
  border-radius: 10%;
}